*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --blue: #007bff;
    --indigo: #7635f5;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --fonts-web: 'Jost', sans-serif;
}
body{
    background:url(/assets/images/bg/1.png) no-repeat fixed top center #34313f;
    z-index: -0;
}
.container{
    padding-left: 15;
    padding-right: 15;
    margin-left: auto;
    margin-right: auto;
    width:1170px;
    
    
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
    flex-direction: row;
}
.sideber-right{
    position: relative;
    background-color: #292633;
    box-shadow: -3px 2px 21px 4px #201e29;
    display: flex;
    flex-direction: column;
}
.profile{
    position: relative;
}
.profile-name{
    position: absolute;
    padding: 30px 35px;

}
.icons{
    position: absolute;
    bottom: 20px;
    left: 0;
}
.shape svg{
        height: 150px;
        fill: #01d85f;
        width: 100%;
        position: absolute;
        top: -30px;
        z-index: 0;
}
.profile-name h1{
    font-size: 25px;
    line-height: 0.8;
    font-weight: 600;
    font-family: var(--fonts-web);
    color: var(--white);
    margin-bottom: 10px;
    z-index: 4;
}
.profile-name h2{
    font-size: 16px;
    font-weight: 400;
    line-height: .8;
    color: var(--white);
}
.icons{
    display: flex;
    justify-content: center;
    padding: 0 35px;
}
.icons .fac{
    background-color: #1773ea;
}
.icons .twi{
    background-color: #009deb;
}
.icons .dri{
    background-color: #ea4c89;
}
.icons .ins{
    background-color: #d62977;
}
.icons a{
    width: 40px;
    height: 40px;
    margin: 0 5px;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    color: white;
    border-radius: 70% 30% 30% 70%/70% 70% 30% 30%;
}
.icons a:hover{
    background-color: #7635f5;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
/* end */



/* end */


  /* end */

.skills-area{
      display: flex;
      flex-direction: column;
      padding: 20px 40px 20px;
}
.skills{
      position: relative;
      margin-bottom: 10px;
      z-index: 1;
}
.skills-title{
   font-size: 16px;
   color: gray;
   padding-bottom: 5px; 
   font-family: var(--fonts-web);
}
.skills-title h3 span{
    color: var(--indigo);
}
.skills-bar{
    width: 100%;
    background-color: grey;
    height: 10px;
    z-index: -1;
    border-radius: 100px;
    position: absolute;
} 
.skills-fill{
    height: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;
}
.skills-percent{
    font-size: 8px;
    font-weight: bold;
    color: indigo;
}
.html{
    animation: html 2s;
    width: 85%;
    background-image: linear-gradient(to right,#ff43cb,#ff56a1,#ff7882,#ff9a74,#feb779);
}
.css{
    animation: css 2s;
    width: 92%;
    background-image: linear-gradient(to right,#806dfa,#009eff,#00c1ff,#00dcf8,#6ef2e1);
}
.php{
    animation: php 2s;
    width: 71%;
    background-image: linear-gradient(to right,#8865dd,#9c63dc,#ae62d9,#bf60d6,#cf5ed2);
}
@keyframes html{
    from{
        width: 0;
    }
    to{
        width: 85%;
    }
}
@keyframes css{
    from{
        width: 0;
    }
    to{
        width: 92%;
    }
}
@keyframes php{
    from{
        width: 0;
    }
    to{
        width: 71%;
    }
}
@media only screen and (max-width:750px){
    .skills-area{
        padding: 0 5%;
    }
}
/* end progress */
.download-hire{
    display: flex;
    margin-left: 40px;
    margin-bottom: 40px;
}
.download{
    padding: 10px 10px;
    background-color: #01d85f;
    color: whitesmoke;
    border: none;
    margin-right: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.download-hire i{
    font-size: 18px;
    padding-right: 10px;
}
.hire{
    padding: 10px 40px;
    background-color: #7635f5;
    color: whitesmoke;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hire span{
    font-size: 11px;
    font-family: var(--fonts-web);
    font-weight: 600;
    letter-spacing: 1;
    text-transform: uppercase;
}

/* end left */
.right{
    width: 820px;
}
.menu{
    min-height: 90px;
    background-color: #201e29;
    box-shadow: -3px 2px 21px 4px #201e29;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.toggler{
    width: 90px;
    height: 90px;
    background-color: #292633;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: whitesmoke;
}
.navbar{
    width: 530px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home a{
    text-decoration: none;
    position: relative;
    z-index: 2;
}
.home a span{
    color: var(--white);
    font-size: 14px;
}
.home a i{
    color: #7635f5;
    font-size: 30px;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: -2;
    opacity: .4;
}

.navbar:after {
    height: 15px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: '';
    background: #34313f;
}

.content{
    padding: 10px 30px;
    background-color: #201e29;
    box-shadow: -3px 2px 21px 4px #201e29;
}
.main-content h3{
    font-size: 14px;
    line-height: 16px;
    color: #9fa8af;
    text-align: justify;
}